<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="header">
      <div class="header cc">
        <div class="nav" id="tabs">
          <ul id="album_tabs">
            <li><a href="/scan" title="ディレクトリをスキャンする">更新</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="img_list">
      <style>
        .adBox {
          text-align: center;
          padding: 0 3px 25px;
        }
        .adBox img {
          max-width: 100% !important;
          height: auto !important;
        }
      </style>
      <% for (const div of divs) { %>
        <%- div %>
      <% } %>
    </div>
  </body>
</html>
