<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="./files/main.css" />
    <link rel="stylesheet" type="text/css" href="./files/style.css" />
  </head>
  <body>
    <div id="header">
      <div class="header cc">
        <div class="nav" id="tabs">
          <ul id="album_tabs">
            <li><a href="https://www.wnacg.org/" id="">首頁</a></li>
            <li><a href="https://www.wnacg.org/albums.html" id="">更新</a></li>
            <li><a href="https://wnbbs.top/" id="">論壇</a></li>
            <li><a href="https://www.wnacglink.top/" title="紳士漫畫永久地址發佈頁" id="">發佈頁</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="img_list">
      <style>
        .adBox {
          text-align: center;
          padding: 0 3px 25px;
        }
        .adBox img {
          max-width: 100% !important;
          height: auto !important;
        }
      </style>
      <div style="text-align: center; color: #999; padding-bottom: 10px; font-size: 13px"><img src="cloud_volumes/test1/jpgs/001.JPG" width="99%" /><br /><span>1/228</span></div>
      <div style="text-align: center; color: #999; padding-bottom: 10px; font-size: 13px"><img src="cloud_volumes/test2/jpgs/003.JPG" width="99%" /><br /><span>2/228</span></div>
    </div>
  </body>
</html>
